{{ 'section-hero-main.css' | asset_url | stylesheet_tag }}

<div id="Banner-{{ section.id }}" class="hero--main">
  {%- if section.settings.image != blank -%}
    <div class="banner__media">
      {%- liquid
        assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
        assign sizes = '100vw'
        assign image_class = ''
      -%}
      {{
        section.settings.image
        | image_url: width: 1500
        | image_tag:
          loading: 'lazy',
          width: section.settings.image.width,
          height: image_height,
          class: image_class,
          sizes: sizes,
          widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
          alt: section.settings.image.alt
        | escape
      }}
    </div>
  {%- endif -%}
  <div class="banner__content page-width">
    <div class="banner__box">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
            <h2 class="banner__heading text-left {{ block.settings.heading_size }}" {{ block.shopify_attributes }}>
              <span>{{ block.settings.heading | escape }}</span>
            </h2>
          {%- when 'text' -%}
            <div class="banner__text {{ block.settings.text_style }}" {{ block.shopify_attributes }}>
              <span>{{ block.settings.text | escape }}</span>
            </div>
          {%- when 'buttons' -%}
            <div
              class="banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} banner__buttons--multiple{% endif %}"
              {{ block.shopify_attributes }}
            >
              {%- liquid
                assign text = ''
              -%}
              {%- if block.settings.button_label_1 and block.settings.button_link_1 -%}
                {%- render 'button' with text: block.settings.button_label_1, url: block.settings.button_link_1, size: 'large', color: 'white' -%}
              {%- endif -%}
              {%- if block.settings.button_label_2 and block.settings.button_link_2 -%}
                {%- render 'button' with text: block.settings.button_label_2, url: block.settings.button_link_2, size: 'large', color: 'white' -%}
              {%- endif -%}
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.hero-main.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.hero-main.settings.image.label"
    },
    {
      "type": "header",
      "content": "t:sections.hero-main.settings.header.content"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.hero-main.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Image banner",
          "label": "t:sections.hero-main.blocks.heading.settings.heading.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.hero-main.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Give customers details about the banner image(s) or content on the template.",
          "label": "t:sections.hero-main.blocks.text.settings.text.label"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:sections.hero-main.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "t:sections.hero-main.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.hero-main.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.hero-main.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "Button label",
          "label": "t:sections.hero-main.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.hero-main.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.hero-main.blocks.buttons.settings.button_link_2.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.hero-main.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}
