{{ 'customer.css' | asset_url | stylesheet_tag }}

{% comment %} <script src="{{ 'customer.js' | asset_url }}" defer></script> {% endcomment %}

<div class="customer portal section-{{ section.id }}-padding">
  <div class="grid grid-cols-12 h-full gap-0">
    <div class="col-span-12 lg:col-span-3 xl:col-span-2">
      {% render 'account-sidebar', active: 'portal' %}
    </div>
    <div class="col-span-12 lg:col-span-9 xl:col-span-10">
      <div class="content--wrapper">
        <div data-address class="content--inner">
          <div class="content-header">
            <h2 class="content--title">Klantenzone</h2>
          </div>
          <div class="content-main portal-main space-y-14">
            {% comment %}
              <h2 class="intro">
                De Klantenzone wordt momenteel bijgewerkt!<br>
                <br>
                Binnenkort vind je hier handige links naar afbeeldingen en documenten.<br>
                <br>
                Bedankt voor je geduld en we kijken ernaar uit om je van dienst te zijn.
              </h2>
            {% endcomment %}
            <div class="portal-item">
              <h2>Belangrijke mappen</h2>
              {% if linklists.dropbox != empty %}
                <div class="dir-links">
                  {% for item in linklists.dropbox.links %}
                    <a target="_blank" class="dir--link" href="{{ item.url }}">
                      {% render 'icon-directory' %}
                      <p>{{ item.title }}</p>
                    </a>
                  {% endfor %}
                </div>
              {% endif %}
            </div>

            {% comment %}
              <div class="portal-item">
                <h2>Handige Bestanden</h2>
                {% if linklists.dropbox != empty %}
                  <div class="dir-links">
                    {% for item in linklists.dropbox.links %}
                      <a target="_blank" class="dir--link" href="{{ item.url }}">
                        {% render 'icon-file' %}
                        <p>{{ item.title }}</p>
                      </a>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            {% endcomment %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
